@font-face {
  font-family: PokemonGB;
  src: url(Pokemon_GB.ttf);
}
html{
    cursor: url('normal.png'), auto;
}
body {
  font-family: PokemonGB;
  margin: 0px auto;
  /*cursor: url('normal.png'), default;*/
  padding: 0px;
}
h1{
  font-family: PokemonGB;
}
h2{
  font-family: PokemonGB;
}
.no {
   display:none;
}
.split-para {
  display:block;
  margin-left:200px;
}
.split-para span {
  /*display:block;*/
  float:right;
  margin-right:100px;
}
a:hover{
  cursor: url('hover.png'), auto;
}

#myPokemonList {
  display:block;
  float:left;
  width:25%;
  margin-left:200px;
}
#rivalPokemonList {
  cursor: url('hover.png'), hover;
  display:block;
  float:right;
  width:25%;
  margin-right:100px;
}

#rivalPokemonDiv{
  display:block;
  float:right;
  margin-right:300px;
}
#myPokemonDiv{
  display:block;
  float:left;
  margin-left:300px;
}
.border{
  height: 100%;
  width: 100px;
  background: #000000;
  position: absolute;
  margin: 0;
  padding: 0;
}
.other{
  height: 2048px;
  width: 100px;
  background: #000000;
  margin: 0;
  float: right;
}
